
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    @font-face {
        font-family:'Sellena-Regular';
        src: url('..Sellena-Regular.otf');
    }
    font-size: 50px;
    padding: 50px;
    position: relative;
    z-index: 2;
    margin-left: 25px; 
    color: white;
    text-shadow: #FC0 1px 0 10px;
}

p {
    font-size: 30px;
    font-style: italic;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#quotes {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
    width: 500px;
    height: 150px;
}


#btn {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    opacity: 0.8;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
}

#btn:hover {
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


